<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
  <title>SMART RESUME ANALYZER (SRA)</title>  <!--webname needs to be renamed later-->
</head>
<body>
<!--NOTE TO SELF, LATER USE JAVASCRIPT TO REDIRECT THE WEBURL AND UPDATE IT ON THE APP.PY-->
<!-- Note to self, need to add more informations on the purpose of this page for more fluf -->
<h1>SMART RESUME ANALYZER</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h3>Please Enter your resume</h3>
<form action="/analyze" method="POST" enctype="multipart/form-data">
  <input type="file" name="resume_file" accept=".pdf">
  <button type="submit">Submit</button>
</form>

<h4>Please Enter the Job URL</h4>
<form action="/url_analyze" method="POST">
  <input type="text" name="job_url" placeholder="Enter Job URL here"
         value="{{ session.get('job_url','') }}">
  <button type="submit">Submit</button>
</form>

<h4>Get your score</h4>
<form action="/score_match" method="POST">
  <button type="submit">Get Score</button>
</form>

{% if session.get("match_result") %}
  <h3>Match Result</h3>
  <pre>{{ session.get("match_result") }}</pre>
{% endif %}

</body>
</html>
